body{
  background: #FDF6D8;
  overflow-x:hidden;
  height: 100%;
  background-image:url('./Images/bgpattern.png');
}

/* Logo Section */

.logoImg{
  width: 98px;
  height: 98px;
  margin:25px;
}

/* Form Style */

.button{
background: none;
border: 1px solid #8F774A;
color: #8F774A;
border-radius: 6px;
padding: 6px 18px;
width: 180px;
transition: width 1s;
}

.button a:hover{
  text-decoration: none;
}
.button:hover{
  background-color: #0E2D1C;
  color: #FDF6D8;
  width: 200px;
}

input{
  background: none !important;
  border: 1px solid black !important;
}

label{
  font-weight: bold;
}

select{
  background-color: #FDF6D8 !important;
  border: 1px solid #000 !important;
}

.btn-float-right{
float: right;
}

.contained {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
}

.centered h2{
  color: #FDF6D8;
  font-size: 3.625rem;
  font-weight: 600;
  font-family: 'serif';
}

/* Mobile View */
@media(max-width: 991px){
  .btn-float-right{
    float: unset;
  }
  .btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
img.d-block.w-100{
  height: 600px;
}

div.options {
  float:right;
  margin-top: 5%;
}
i.fas.fa-clipboard-list{
margin-left: 10px;
}

/* Mobile view */

@media(max-width: 991px){
  .centered h2{
    font-size: 18px;
  }
  img.d-block.w-100{
    height: 400px;
  }
  .ml-3,.mx-3{
    margin: 0px !important;
  }
  th{
    width: 20px !important;
  }
  div.col-md-6.mt{
    margin-top: 20px ;
  }
  div.options {
    float:right;
    margin-top: 15%;
  }
}